

.stock-input-container {
    background: lightblue;
}


.stock-widget-container {
   
    background: lightgray;
    min-height: 400px;
}

#menu {
    width: 100%;
    background: black;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    
}

.card-body {
    background: whitesmoke;
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;

}

.card-title {
    font-size: 18px;
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid lightslategray
}

.stock {
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}



.refresh-area {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-weight: bold;

}

